* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    --white: #fff;
    --black: #000;
    --light-black: #323030;
    --dark-grey: #c6c6c6;
    --heading-font: "Lilita One", sans-serif;
    --text-font: "Lato", sans-serif;
}

/* main styles */
body {
    background-color: var(--light-black);
    color: var(--white);
    font-family: var(--text-font);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 80%;
    margin: auto;
}

header,
footer,
.title-wrapper,
.input-wrapper,
.movie,
.movie-inner-wrap,
.movie-title-wrap,
#modal-wrapper,
.modal-movie,
.modal-movie-details,
.rating-wrap,
.rating  {
    display: flex;
    justify-content: center;
}

header {
    flex-direction: column;
    border-bottom: 3px solid var(--white);
    padding: 0 0 20px;
}

footer {
    margin-top: auto;
    width: 100%;
    height: 60px;
}

.input-wrapper,
.movie,
.movie-title-wrap,
.movie-inner-wrap,
.modal-movie,
.modal-movie-details,
.rating-wrap,
.rating {
    flex-direction: column;
}

.movie-wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
}

.movie {
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--dark-grey);
    border-radius: 6px;
    padding: 10px;
    min-height: 200px;
}

.movie-inner-wrap {
    align-items: center;
    gap: 10px;
}

.movie-title-wrap {
    align-items: center;
}

.movie h4 {
    margin: 0;
}

.movie-poster {
    width: 20%;
    display: block;
    margin: 0 auto;
}

a {
    color: var(--white);
    font-weight: bold;
}
a:visited,
a:active {
    color: var(--white);
}

/* modal */

#hidden {
    display: none;
}

#close {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

#modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(100, 100, 100, 0.9);
    height: 100vh;
    align-items: center;
}

#modal {
    border-radius: 6px;
    padding: 20px;
    background-color: black;
    width: 80%;
    max-width: 900px;
    border: 6px solid var(--dark-grey);
}

#modal .movie {
    border: none;
}

.modal-movie {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modal-movie-details {
    width: 100%;
}

.modal-movie-details p {
    text-align: center;
    margin: 6px 0;
}

.modal-movie-details p:first-child {
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.plot {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.rating-wrap {
    width: 80%;
    margin: 20px auto;
    gap: 10px;
}

.rating {
    border: 2px solid var(--dark-grey);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    font-size: .75rem;
    width: 80%;
    margin: auto;
    height: 60px;
}

.no-show {
    display: none;
}

/* typography */
h1,
h3,
h4 {
    font-family: var(--heading-font);
    letter-spacing: 4px;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h3,
h4 {
    font-size: 1rem;
}

ul {
    list-style-type: none;
    list-style-type: none;
}

/* form */
input {
    width: 80%;
    margin: 20px auto;
    padding: 16px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color .2s ease-in-out;
}

#search-btn {
    width: 20%;
    min-width: 160px;
    margin: 0 auto 20px;
    padding: 10px 20px;
    font-size: 1.125rem;

}

button:hover {
    background-color: var(--dark-grey);
}

.more-info {
    min-width: 60px;
    margin: 10px auto 0;
    padding: 10px 20px;
    font-size: .75rem;
}

/* Media Queries */

@media (min-width: 768px) {
    h1 {
        font-size: 6rem;
    }

    h3 {
        font-size: 1.125rem;
    }

    .modal-movie h4 {
        font-size: 1.5rem;
    }

    #modal .modal-movie .movie-poster {
        width: 50%;
    }

    .movie-wrapper {
        grid-template-columns: repeat(2, 1fr)
    }

    .movie-inner-wrap {
        flex-direction: row;
    }

    .movie-title-wrap {
        flex-basis: 70%;
        min-height: 140px;
    }

    .rating-wrap  {
        flex-direction: row;
    }

    .rating {
        width: 30%;
        height: 50px;
    }
}

@media (min-width: 1010px) {
    .movie-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}